.gridcontainerpadre {
  display: grid;
  grid-template-areas: "header header" "nav nav" "main main" "footer footer";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 10px; }

.header {
  grid-area: header; }

.nav {
  grid-area: nav; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

.header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; }

.menunav, .menuredes2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; }

.menuredes2 {
  justify-content: center; }

.header {
  background-image: url(/assents/img/elruso.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .header a img {
    width: 200px;
    margin-left: 60px; }

.instagram {
  width: 20px;
  border-radius: 20px;
  background-color: #bb46bb; }

.nav {
  background-color: #308a6c;
  padding-top: 10px; }

.menunav li, .menuredes2 li {
  list-style: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; }
  .menunav li a, .menuredes2 li a {
    text-decoration: none;
    color: white; }
    .menunav li a img, .menuredes2 li a img {
      width: 20px;
      border-radius: 30px;
      background-color: #972197; }

.menuredes2 li {
  margin: 20px; }
