@charset "UTF-8";
.gridcontainerpadre {
  display: grid;
  grid-template-areas: "header header" "nav nav" "main main" "footer footer";
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 10px; }

.header {
  grid-area: header; }

.nav {
  grid-area: nav; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

.header {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; }

.boximagen {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; }
  .boximagen .boximagen2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto; }

.box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; }

.imgnosotros {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto; }

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .gridcontainerpadre {
    display: grid;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 10px; }
  .header {
    grid-area: header; }
  .nav {
    grid-area: nav; }
  .main {
    grid-area: main; }
  .footer {
    grid-area: footer; }
  .header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto; }
  .menunav li, .menuredes li, .menuredes2 li {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto; }
  .boximagen {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto; }
    .boximagen .boximagen2 {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto; }
  .box {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto; }
  .imgnosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto; } }

.menunav, .menuredes, .menuredes2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end; }

.menuredes2 {
  justify-content: center; }

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .menunavmob {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .menuredesmob {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .menuredesmob2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; } }

.header, .header2 {
  background-image: url(/assents/img/elbocadogarras2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 400px; }
  .header a img, .header2 a img {
    width: 150px;
    margin-left: 150px;
    margin-top: 10px; }

.menuredes {
  list-style: none;
  margin-top: 30px;
  margin-right: 60px; }
  .menuredes li {
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; }
  .menuredes a .instagram {
    color: white;
    border-radius: 20px;
    background-color: #a756a7;
    padding: 10px;
    transition: background-color 0.5s; }
  .menuredes .instagram:hover {
    background-color: #752175; }
  .menuredes a .twitter {
    color: white;
    border-radius: 20px;
    background-color: #248cd1;
    padding: 10px;
    transition: background-color 0.5s; }
  .menuredes .twitter:hover {
    background-color: #185781; }
  .menuredes a .whatsapp {
    color: white;
    border-radius: 20px;
    background-color: #46b462;
    padding: 10px;
    transition: background-color 0.5s; }
  .menuredes .whatsapp:hover {
    background-color: #0e7224; }
  .menuredes a .email {
    color: white;
    border-radius: 20px;
    background-color: #dd4c4c;
    padding: 10px;
    transition: background-color 0.5s; }
  .menuredes .email:hover {
    background-color: #a81111; }

.nav {
  background-color: #377e88;
  padding-top: 10px; }
  .nav .menunav, .nav .menuredes, .nav .menuredes2 {
    margin-top: 0px;
    margin-right: 50px; }
    .nav .menunav li, .nav .menuredes li, .nav .menuredes2 li {
      list-style: none;
      margin-right: 40px;
      font-size: 15px;
      margin-bottom: 6px; }
      .nav .menunav li a, .nav .menuredes li a, .nav .menuredes2 li a {
        text-decoration: none;
        color: white;
        font-family: 'Readex Pro', sans-serif; }
        .nav .menunav li a .carrito, .nav .menuredes li a .carrito, .nav .menuredes2 li a .carrito {
          border-radius: 20px;
          padding: 10px;
          margin-top: -8px; }

.main .texto1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Readex Pro', sans-serif; }

.main .boximagen img {
  width: 700px;
  height: 600px;
  margin-left: 0px; }

.main .boximagen2 img {
  width: 405px;
  height: 300px;
  margin-left: 150px; }

.main .box {
  margin-top: 10px; }
  .main .box .box1 {
    padding: 200px;
    text-align: center;
    background-image: url(/assents/img/elbocado.jpeg);
    transition: background-image 1s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .main .box .box1 a {
      text-decoration: none;
      font-size: 50px;
      color: white;
      font-family: 'Readex Pro', sans-serif; }
  .main .box .box1:hover {
    background-image: url(/assents/img/puertaelbocado.jpg); }
  .main .box .box2 {
    padding: 200px;
    text-align: center;
    background-image: url(/assents/img/garrapiñadas.png);
    transition: background-image 1s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .main .box .box2 a {
      text-decoration: none;
      font-size: 50px;
      color: white;
      font-family: 'Readex Pro', sans-serif; }
  .main .box .box2:hover {
    background-image: url(/assents/img/bocado2.jpg); }

.footer {
  background-color: #377e88; }

.logo2 {
  width: 150px;
  margin-left: 490px;
  margin-top: 10px; }

.menuredes2 {
  list-style: none;
  margin-top: 20px; }
  .menuredes2 li {
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; }
  .menuredes2 a .instagram {
    color: white;
    border-radius: 20px;
    background-color: #a756a7;
    padding: 10px;
    transition: background-color 0.5s; }
  .menuredes2 .instagram:hover {
    background-color: #752175; }
  .menuredes2 a .twitter {
    color: white;
    border-radius: 20px;
    background-color: #248cd1;
    padding: 10px;
    transition: background-color 0.5s; }
  .menuredes2 .twitter:hover {
    background-color: #185781; }
  .menuredes2 a .whatsapp {
    color: white;
    border-radius: 20px;
    background-color: #46b462;
    padding: 10px;
    transition: background-color 0.5s; }
  .menuredes2 .whatsapp:hover {
    background-color: #0e7224; }
  .menuredes2 a .email {
    color: white;
    border-radius: 20px;
    background-color: #dd4c4c;
    padding: 10px;
    transition: background-color 0.5s; }
  .menuredes2 .email:hover {
    background-color: #a81111; }

.ubicacion {
  text-align: center;
  font-size: 20px; }
  .ubicacion a {
    text-decoration: none;
    margin-bottom: 10px; }

/*Productos css*/
.prod {
  margin-top: 20px;
  margin-bottom: 20px; }

.imgprod {
  width: 250px;
  margin-left: 5px; }

.logoprod2 {
  margin-top: 10px;
  width: 150px;
  margin-left: 480px; }

/*Nosotros Css*/
.texto-Nos-1 {
  margin: 8px; }

.bocado {
  width: 200px;
  height: 300px;
  margin: 5px; }

.mapa {
  margin: 8px; }
  .mapa iframe {
    width: 600px;
    height: 500px; }

/*Contacto Css*/
.maincont {
  margin-bottom: 10px; }

.logocont2 {
  width: 150px;
  margin-top: 10px;
  margin-left: 475px; }

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .header, .header2 {
    background-image: url(/assents/img/elruso.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .header a img, .header2 a img {
      width: 100px;
      margin-left: 125px; }
  .menuredes {
    list-style: none;
    margin-top: 30px;
    margin-right: 10px; }
    .menuredes li {
      list-style: none;
      margin-right: 30px;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px; }
    .menuredes a .instagram {
      color: white;
      border-radius: 20px;
      background-color: #a756a7;
      padding: 10px;
      transition: background-color 0.5s; }
    .menuredes .instagram:hover {
      background-color: #752175; }
    .menuredes a .twitter {
      color: white;
      border-radius: 20px;
      background-color: #248cd1;
      padding: 10px;
      transition: background-color 0.5s; }
    .menuredes .twitter:hover {
      background-color: #185781; }
    .menuredes a .whatsapp {
      color: white;
      border-radius: 20px;
      background-color: #46b462;
      padding: 10px;
      transition: background-color 0.5s; }
    .menuredes .whatsapp:hover {
      background-color: #0e7224; }
    .menuredes a .email {
      color: white;
      border-radius: 20px;
      background-color: #dd4c4c;
      padding: 10px;
      transition: background-color 0.5s; }
    .menuredes .email:hover {
      background-color: #a81111; }
  .nav {
    background-color: #377e88;
    padding-top: 10px; }
    .nav .menunav, .nav .menuredes, .nav .menuredes2 {
      margin-top: 0px;
      text-align: center;
      padding-bottom: 10px; }
      .nav .menunav li, .nav .menuredes li, .nav .menuredes2 li {
        list-style: none;
        margin-right: 20px;
        font-size: 15px;
        margin-bottom: 10px; }
        .nav .menunav li a, .nav .menuredes li a, .nav .menuredes2 li a {
          text-decoration: none;
          color: white; }
          .nav .menunav li a .carrito, .nav .menuredes li a .carrito, .nav .menuredes2 li a .carrito {
            border-radius: 20px;
            background-color: black;
            padding: 10px;
            transition: background-color 0.5s;
            margin-top: 3px; }
          .nav .menunav li a .carrito:hover, .nav .menuredes li a .carrito:hover, .nav .menuredes2 li a .carrito:hover {
            background-color: #777777; }
  .main .texto1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Readex Pro', sans-serif; }
  .main .boximagen img {
    width: 330px;
    height: 300px;
    margin-left: 0px; }
  .main .boximagen2 img {
    width: 165px;
    height: 200px; }
  .main .box {
    margin-top: 10px; }
    .main .box .box1 {
      padding: 100px;
      text-align: center;
      background-image: url(/assents/img/elbocado.jpeg);
      transition: background-image 1s;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .main .box .box1 a {
        text-decoration: none;
        font-size: 30px;
        color: white;
        font-family: 'Readex Pro', sans-serif; }
    .main .box .box1:hover {
      background-image: url(/assents/img/puertaelbocado.jpg); }
    .main .box .box2 {
      padding: 100px;
      text-align: center;
      background-image: url(/assents/img/garrapiñadas.png);
      transition: background-image 1s;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
      .main .box .box2 a {
        text-decoration: none;
        font-size: 30px;
        color: white;
        font-family: 'Readex Pro', sans-serif; }
    .main .box .box2:hover {
      background-image: url(/assents/img/bocado2.jpg); }
  .footer {
    background-color: #377e88; }
  .logo2 {
    width: 100px;
    margin-left: 125px;
    margin-top: 10px; }
  .menuredes2 {
    list-style: none;
    margin-top: 30px;
    margin-right: 10px; }
    .menuredes2 li {
      list-style: none;
      margin-right: 20px;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px; }
    .menuredes2 a .instagram {
      color: white;
      border-radius: 20px;
      background-color: #a756a7;
      padding: 10px;
      transition: background-color 0.5s; }
    .menuredes2 .instagram:hover {
      background-color: #752175; }
    .menuredes2 a .twitter {
      color: white;
      border-radius: 20px;
      background-color: #248cd1;
      padding: 10px;
      transition: background-color 0.5s; }
    .menuredes2 .twitter:hover {
      background-color: #185781; }
    .menuredes2 a .whatsapp {
      color: white;
      border-radius: 20px;
      background-color: #46b462;
      padding: 10px;
      transition: background-color 0.5s; }
    .menuredes2 .whatsapp:hover {
      background-color: #0e7224; }
    .menuredes2 a .email {
      color: white;
      border-radius: 20px;
      background-color: #dd4c4c;
      padding: 10px;
      transition: background-color 0.5s; }
    .menuredes2 .email:hover {
      background-color: #a81111; }
  /*Productos css*/
  .prod {
    text-align: center;
    font-size: 15px; }
    .prod .imgprod {
      width: 100px;
      margin-left: 2px; }
  .logoprod2 {
    width: 100px;
    margin-left: 110px;
    margin-top: 10px; }
  /*Nosotros Css*/
  .texto-Nos-1 {
    margin: 8px;
    font-size: 20px; }
  .bocado {
    width: 100px;
    height: 150px;
    margin: 3px; }
  .mapa {
    margin: 8px; }
    .mapa iframe {
      width: 300px;
      height: 250px; }
  /*Contacto Css*/
  .maincont {
    margin-bottom: 10px; }
  .logocont2 {
    width: 100px;
    margin-left: 110px;
    margin-top: 10px; } }
