@media only screen and (min-width: 360px) and (max-width: 768px){
    .logo, .logo2{
        width: 90px;
        height: 70px;
    }
    .carouselimg{
        width: 800px;
        height: 600px;
    }
    
    .garras{
        width: 100px;
        padding: 20px;
        
        
        
    }
    .bolsacompras{
        width: 20px;
    }
    .redes{
        width: 20px;
    }
    .menu2, .redes2{
        list-style: none;
    }
    p{
        text-align: center;
    } 

       
    /* ESTILO CSS PRODUCTO*/
    .contenedor3{
        margin-top: 30px;
    }
    .garras2 {
        width: 150px;
        height: 130px;
        
    }
    .gridgarras2{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto ;
        
    
    }
    .mani, .girasol, .almendra, .nuez, .manisal, .girasolsal, .nuezsal, .almendrasal,
    .caja1, .caja2, .caja3, .caja4, .caja5, .caja6 {
        text-align: center;
        font-family: monospace;
        font-size: 15px;
    
    }

.fondo{
    background-image: url(/assents/img/el\ bocado\ garras.jpg);
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -85px;
    padding-bottom: 300px;
}
.fondo2{
    background-image: url(/assents/img/correntoso.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
body{
    margin-top: 10px;

}

.card{
    width: 10rem;
}    
  
    
}



@media only screen and (min-width: 1024px) {
    

.logo, .logo2{
    width: 90px;
    height: 70px;
}
.logo2{
    width: 150px;
    height: 180px;
    margin-left: 30px;
}

.bolsacompras{
    width: 20px;
}
.redes{
    width: 20px;
}
.menu2, .redes2{
    list-style: none;
}
p{
    text-align: center;
}
.garras{
    width: 260px;
    padding: 40px;
    margin-left: 50px;
  
}
.imagen{
    width: 1600px;
    height: 737px;
}



/* ESTILO CSS PRODUCTO*/
.contenedor3{
    margin-top: 30px;
}
.garras2 {
    width: 280px;
    height: 230px;
    
}
.gridgarras2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto ;
    
    

}
.mani, .girasol, .almendra, .nuez, .manisal, .girasolsal, .nuezsal, .almendrasal,
.caja1, .caja2, .caja3, .caja4, .caja5, .caja6 {
    text-align: center;
    font-family: monospace;
    font-size: 15px;

}
.garrascarrito{
    width: 200px;
    height: 180px;
}
 .Inicio, .productos, .nosotros, .contacto {
    color: white;
    font-weight: bold;
}
.carrito{
    margin-left: 750px;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 2px 3px 2px 3px;
}
.fondo{
    background-image: url(/assents/img/el\ bocado\ garras2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: -100px;
    padding-bottom: 650px;
}
.fondo2{
    background-image: url(/assents/img/correntoso.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -247px;
    padding-bottom: 300px;
}
body{
    margin-top: 10px;

}
.card{
    width: 18rem;
}    
.footer{
    
    
}
  

}
