@import "grid";
@import "flex";

.header, .header2{ 
    background-image: url(/assents/img/elbocadogarras2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 400px;
    a img{
        width: 150px;
        margin-left: 150px;
        margin-top: 10px;
    }
}
.menuredes{
    list-style: none;
    margin-top: 30px;
    margin-right: 60px;
    li{
        list-style: none;
        margin-right: 20px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    a .instagram{
        color: white;
        border-radius: 20px;
        background-color: rgb(167, 86, 167);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .instagram:hover{
        background-color: rgb(117, 33, 117);
    }
    a .twitter{
        color: white;
        border-radius: 20px;
        background-color: rgb(36, 140, 209);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .twitter:hover{
        background-color: rgb(24, 87, 129);
    }
    a .whatsapp{
        color: white;
        border-radius: 20px;
        background-color: rgb(70, 180, 98);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .whatsapp:hover{
        background-color: rgb(14, 114, 36);
    }
    a .email{
        color: white;
        border-radius: 20px;
        background-color: rgb(221, 76, 76);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .email:hover{
        background-color:rgb(168, 17, 17) ;
    }


}

.nav{
    background-color: rgb(55, 126, 136);
    padding-top: 10px;

   .menunav{
       margin-top: 0px;
       margin-right: 50px;

    li{
        list-style: none;
        margin-right: 40px;
        font-size: 15px;
        margin-bottom: 6px;
    
        a{
            text-decoration: none;
            color: white;
            font-family: 'Readex Pro', sans-serif;
            .carrito{
                border-radius: 20px;
                padding: 10px;
                margin-top: -8px;
            }
        }
    }
   }
}
.main{
    .texto1{
        text-align: center;
        font-size: 30px;
        font-family: 'Readex Pro', sans-serif;
    }
    .boximagen img{
        width: 700px;
        height: 600px;
        margin-left: 0px;
      
    }
    .boximagen2 img{
        width: 405px;
        height: 300px;
        margin-left: 150px;
    }
    .box{
        margin-top: 10px;
        .box1{
            padding: 200px;
            text-align: center;
            background-image: url(/assents/img/elbocado.jpeg);
            transition: background-image 1s;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            a{
                text-decoration: none;
                font-size: 50px;
                color: white;
                font-family:'Readex Pro', sans-serif; ;
            }
        }
        .box1:hover{
            background-image: url(/assents/img/puertaelbocado.jpg);

        }
        .box2{
            padding: 200px;
            text-align: center;
            background-image: url(/assents/img/garrapiñadas.png);
            transition: background-image 1s;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            a{
                text-decoration: none;
                font-size: 50px;
                color: white;
                font-family:'Readex Pro', sans-serif; ;
            }
        }
        .box2:hover{
            background-image: url(/assents/img/bocado2.jpg);

        }

    }

}


.footer{
    background-color:rgb(55, 126, 136);
}
.logo2{
    width: 150px;  
    margin-left: 490px;
    margin-top: 10px;
}

.menuredes2{
    list-style: none;
    margin-top: 20px;
    li{
        list-style: none;
        margin-right: 20px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    a .instagram{
        color: white;
        border-radius: 20px;
        background-color: rgb(167, 86, 167);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .instagram:hover{
        background-color: rgb(117, 33, 117);
    }
    a .twitter{
        color: white;
        border-radius: 20px;
        background-color: rgb(36, 140, 209);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .twitter:hover{
        background-color: rgb(24, 87, 129);
    }
    a .whatsapp{
        color: white;
        border-radius: 20px;
        background-color: rgb(70, 180, 98);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .whatsapp:hover{
        background-color: rgb(14, 114, 36);
    }
    a .email{
        color: white;
        border-radius: 20px;
        background-color: rgb(221, 76, 76);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .email:hover{
        background-color:rgb(168, 17, 17) ;
    }

}
.ubicacion{
    text-align: center;
    font-size: 20px;
    a{
        text-decoration: none;
        margin-bottom: 10px;
    }
}

/*Productos css*/
.prod{
    margin-top: 20px;
    margin-bottom: 20px;
}
.imgprod{
    width: 250px;
    margin-left: 5px;
}

.logoprod2{
    margin-top: 10px;
        width: 150px;  
        margin-left: 480px;

}

/*Nosotros Css*/
.texto-Nos-1{
    margin: 8px;

}
.bocado{
    width: 200px;
    height: 300px;
    margin: 5px;
}
.mapa{
    margin:8px;
    iframe{
        width: 600px;
        height: 500px;
    }
}
/*Contacto Css*/
.maincont{
    margin-bottom: 10px;
}
.logocont2{
     width: 150px;
     margin-top: 10px;
     margin-left: 475px;
}

@media only screen and (min-width: 360px) and (max-width: 768px){
    .header, .header2{ 
        background-image: url(/assents/img/elruso.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        a img{
            width: 100px;
            margin-left: 125px;
        }
}
.menuredes{
    list-style: none;
    margin-top: 30px;
    margin-right: 10px;
    li{
        list-style: none;
        margin-right: 30px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    a .instagram{
        color: white;
        border-radius: 20px;
        background-color: rgb(167, 86, 167);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .instagram:hover{
        background-color: rgb(117, 33, 117);
    }
    a .twitter{
        color: white;
        border-radius: 20px;
        background-color: rgb(36, 140, 209);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .twitter:hover{
        background-color: rgb(24, 87, 129);
    }
    a .whatsapp{
        color: white;
        border-radius: 20px;
        background-color: rgb(70, 180, 98);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .whatsapp:hover{
        background-color: rgb(14, 114, 36);
    }
    a .email{
        color: white;
        border-radius: 20px;
        background-color: rgb(221, 76, 76);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .email:hover{
        background-color:rgb(168, 17, 17) ;
    }


}
.nav{
    background-color: rgb(55, 126, 136);
    padding-top: 10px;

   .menunav{
       margin-top: 0px;
       text-align: center;
       padding-bottom: 10px;

    li{
        list-style: none;
        margin-right: 20px;
        font-size: 15px;
        margin-bottom: 10px;
    
        a{
            text-decoration: none;
            color: white;
            .carrito{
                border-radius: 20px;
                background-color: rgb(0, 0, 0);
                padding: 10px;
                transition: background-color 0.5s;
                margin-top: 3px;
            }
            .carrito:hover{
                background-color: rgb(119, 119, 119);
            }
        }
    }
   }
}
.main{
    .texto1{
        text-align: center;
        font-size: 30px;
        font-family: 'Readex Pro', sans-serif;
    }
    .boximagen img{
        width: 330px;
        height: 300px;
        margin-left: 0px;
      
    }
    .boximagen2 img{
        width: 165px;
        height: 200px;
        
    }
    .box{
        margin-top: 10px;
        .box1{
            padding: 100px;
            text-align: center;
            background-image: url(/assents/img/elbocado.jpeg);
            transition: background-image 1s;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            a{
                text-decoration: none;
                font-size: 30px;
                color: white;
                font-family:'Readex Pro', sans-serif; ;
            }
        }
        .box1:hover{
            background-image: url(/assents/img/puertaelbocado.jpg);

        }
        .box2{
            padding: 100px;
            text-align: center;
            background-image: url(/assents/img/garrapiñadas.png);
            transition: background-image 1s;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            a{
                text-decoration: none;
                font-size: 30px;
                color: white;
                font-family:'Readex Pro', sans-serif; ;
            }
        }
        .box2:hover{
            background-image: url(/assents/img/bocado2.jpg);

        }

    }

}
.footer{
    background-color:rgb(55, 126, 136);
}
.logo2{
    width: 100px;
    margin-left: 125px;
    margin-top: 10px;  
}

.menuredes2{
    list-style: none;
    margin-top: 30px;
    margin-right: 10px;
    li{
        list-style: none;
        margin-right: 20px;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    a .instagram{
        color: white;
        border-radius: 20px;
        background-color: rgb(167, 86, 167);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .instagram:hover{
        background-color: rgb(117, 33, 117);
    }
    a .twitter{
        color: white;
        border-radius: 20px;
        background-color: rgb(36, 140, 209);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .twitter:hover{
        background-color: rgb(24, 87, 129);
    }
    a .whatsapp{
        color: white;
        border-radius: 20px;
        background-color: rgb(70, 180, 98);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .whatsapp:hover{
        background-color: rgb(14, 114, 36);
    }
    a .email{
        color: white;
        border-radius: 20px;
        background-color: rgb(221, 76, 76);
        padding: 10px;
        transition: background-color 0.5s;
    }
    .email:hover{
        background-color:rgb(168, 17, 17) ;
    }

}
/*Productos css*/
.prod{
    text-align: center;
    font-size: 15px;
.imgprod{
    width: 100px;
    margin-left: 2px;
}
}
.logoprod2{
    width: 100px;
    margin-left: 110px;
    margin-top: 10px; 

}
/*Nosotros Css*/
.texto-Nos-1{
    margin: 8px;
    font-size: 20px;

}
.bocado{
    width: 100px;
    height: 150px;
    margin: 3px;
}

.mapa{
    margin:8px;
    iframe{
        width: 300px;
        height: 250px;
    }
}
/*Contacto Css*/
.maincont{
    margin-bottom: 10px;
}
.logocont2{
    width: 100px;
    margin-left: 110px;
    margin-top: 10px; 
}

}