@import "grid";
@import "flex";

.header{ 
    background-image: url(/assents/img/elruso.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    a img{
        width: 200px;
        margin-left: 60px;
    }
}

.nav{
    background-color: rgb(48, 138, 108);
    padding-top: 10px;
}
.menunav{
    li{
        list-style: none;
        margin-right: 20px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        
        a{
            text-decoration: none;
            color: white;
        }
  
}
}

.menuredes2{
    li{
        margin: 20px;
    }
}
